<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--<div th:if="${message}">-->
    <!--<h2 th:text="${message}"/>-->
<!--</div>-->

<div>
    <form method="POST" enctype="multipart/form-data" action="/uploadRecipe">
        <table>
            <tr><td>Choose recipe:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/uploadIngredient">
        <table>
            <tr><td>Choose Ingredient:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<form action="/getRecipe" method="get">
    <button name="getRecipe" type="submit" value="getRecipe">get your favorite recipe</button>
</form>

<!--<div>-->
    <!--<ul>-->
        <!--<li th:each="file : ${files}">-->
            <!--<a th:href="${file}" th:text="${file}" />-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

</body>
</html>